/* .slideshow img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.course-card img {
  border-radius: 5px;
}

.pro-banner {
  position: relative;
  text-align: center;
}

.pro-banner img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-section {
  text-align: center;
  font-size: 1.2rem;
}

.about-section strong {
  font-size: 1.5rem;
} */
